apiVersion: v1
kind: Service
metadata:
  name: bago-backend-2
spec:
  selector:
    app: bago-backend-2
  ports:
    - protocol: TCP
      port: 3030
      targetPort: 9090
      nodePort: 30485
  type: NodePort
